[class^='icon-'] {
  display: inline-block;
  vertical-align: middle;
}

.icon-back {
  width: 17px;
  height: 15px;
  //background: transparent url(images/arrow-left-white.png) no-repeat 0 0;
  background-size: 100%;
}

.icon-arrow-down {
  width: 10px;
  height: 6px;
  //background: transparent url(images/arrow-down.png) no-repeat 0 0;
  background-size: 100%;
}

.icon-calendar {
  width: 21px;
  height: 18px;
  //background: transparent url(images/calendar.png) no-repeat 0 0;
}

.icon-baby {
  width: 24px;
  height: 22px;
  //background: transparent url(images/baby.png) no-repeat 0 0;
}

.icon-close {
  width: 10px;
  height: 12px;
  //background: transparent url(images/close.png) no-repeat 0 0;
}

