$header-background: #32b1b5;
$text-white-color: #eaf5f5;
$border-color-light-green: #c8eaeb;
$text-color-grey: #959595;
$border-blue-color: #2cc8ee;
$checkbox-border-grey: #d1d1d1;
$text-pink-color: #fea8c6;
$background-light-pink: #fff5f8;
$background-color-orange: #fe686a;
